.container{
    margin: 4rem 6rem;
    text-align: left;
}
h2{
    padding-bottom: 1rem;
    font-size: 1.5rem;
}
p{
    padding-bottom: 1rem;
}
@media screen and (max-width:850px) {
    .container{
        margin: 4rem 2rem;
    }
    
}
